.category-item {
  cursor: pointer;
  transition: transform 0.3s ease, 
}

.category-item:hover {
  transform: scale(1.30);
}

.category-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 3px solid goldenrod;
  transition: border-color 0.3s;
}

.category-item:hover .category-img {
  border-color: #d4af37;
}
